/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap'); */
:root{
    --black:#080707;
    --lighter:#fff4ff;
    --light-black: rgb(3, 3, 13);
    --light-grey:rgb(196, 192, 192);
    --grey:#BFCCB5;
    --blue:rgb(0,100,250);


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '';
    font-size: .9rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
   
     
}
body{
    color:var(--lighter)
}
.container{
    width:30%;
    height: 110vh;
    margin: 0 auto;
    border:2px solid red;
    background-color:var(--black) ;
    display: flex;
    flex-direction: column;
} 
header{
    width: 100%;
    height: 2.5rem;
    color:var(--lighter);
    
}
.title{
    display: flex;
    justify-content: flex-start;
    background-color:var(--light-black);
    height: 20rem;
    
}
.title svg{
 width: 50px;

}
.title p{
    color:var(--light-grey);

}
.background-image{
    display: flex;
    width: 100%;
    height: 30%;
    margin-top:0.12rem;
}
.background-image img{
    width: 100%;
}
.following-wrapper{
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
}
.profile-pic{
    width:40%;
    max-height: 2rem;
    margin-top: -4rem;
}
.contact-icons{
    width: 40%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 1rem;
    padding: 0 .75rem;
    
}
.contact-icons svg{
    width: 2.5rem;
    height:2.5rem;
    
    /* border: 2px solid white; */

}
.follow-btn{
    background-color:var(--light-black) ;
    color:var(--lighter);
    /* font-size:16px; */
    border:2px solid var(--lighter);
    border-radius: 20px;
    padding: .7rem;
    

}
.user-name{
   display: flex;
   /* border: 2px solid white; */
   color: var(--lighter);
   flex-direction: column;
   margin-top: 1.5rem; 
}
.bio-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin:0 2rem; */
    /* border: 2px solid white; */
}
.bio-wrapper p{
    width: 100%;
    font-size: 1.3rem;

}
span{
    color:blue;
}
.join-details{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
    height: 9rem;
    flex-wrap:wrap;
    /* justify-content: center; */

}
.join-details1{
    width: 100%;
    /* border:2px solid yellow; */
    height: 4rem;
    display: flex;
    justify-content: flex start;

}
.join-details1 svg{
    width: 1rem;
    height:01rem;
    /* display: inline-block; */
}
.join-details1 p{
     display: inline; 
}
.join-details1-w{
    display: flex;
    justify-content:space-between;
    
}
.followers{
    display: flex;
}

.gray{
    color:var(--grey);
    opacity: 0.7;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav .Tweets{
    border-bottom: 4px solid var(--blue);
}
a{
    text-decoration: none;
}
.tweet-section svg{
    width: 50px;
    height: 50px;
    border-radius:50%;
    border:2px solid whitesmoke;
   
}
.tweet-section{
    display: flex;
    gap:2rem;
    flex-direction: column;
}

@media screen and (max-width:320px) {
    .container{
         width: 100%;
         height: 120vh;
    }
    .contact-icons svg{
        width: 2.5rem;
        height: 2rem;
        /* margin-left: ; */

    }
    .following-wrapper{
        width:100% ;
       
    }
    .follow-btn{
        width: 70px;
        height: 40px;
        margin: 0;
        padding: 0;
    }
    
    
}