/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap'); */
:root{
    /* --black:#240202; */
    --lighter:#fff4ff;
    --light-black: #292f33;
    --light-grey:#ccd6dd;
    --grey:#BFCCB5;
    --blue:rgb(0,100,250);


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '';
    font-size: 1.1rem;
    
    font-family: 'Montserrat', sans-serif;
   
     
}
body{
    color:var(--lighter)
}
.container{
    width:37.5rem;
    height: 300vh;
    margin: 0 auto;
     border:7px solid white; 
    /* background-color:var(--light-black) ; */
    background-color: black;
    display: flex;
    flex-direction: column;
    /* padding-left:0.5rem; */
} 
header{
    
    height: 5rem;
    color:var(--lighter);
    position: fixed;
    width: inherit;
    
}
.title{
    display: flex;
    justify-content: flex-start;
    background-color:var(--light-black);
    width: 100%;
    /* height: 20rem; */
    
}
.title svg{
 width: 50px;
 height: 2rem;

}
.title p{
    color:var(--light-grey);

}
.background-image{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    height:85vh;
    margin-top:0.12rem;
    /* border:2px solid greenyellow; */
    /* align-items: center; */
    
    
}
.background-image img{
    width: 100%;
    height: 70%;
    /* border: 2px solid yellow; */
}
/* .following-wrapper{
    border: 5px solid red; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
} */
.profile-pic{
    width:17%;
    height: 6.5rem;
    margin-top:.4rem;
    /* border: 2px solid seagreen; */
   
}
.profile-pic img{
    width: 120px;
    height: 115px;
    border-radius:50%;
}
.contact-icons{
     width: 90%;
     display: flex; 
    justify-content:flex-end;
    
    
    
    /* align-items: center; */
    /* margin-left: 1rem; */
   
    /* border: 2px solid red; */
    
}
.contact-icons svg{
    width: 2.0rem;
    height:2.0rem;
    margin: 0 .5rem;
    
    /* border: 2px solid white; */

}
.follow-btn{
    background-color:black ;
    color:var(--lighter);
    /* font-size:16px; */
    border:2px solid var(--lighter);
    border-radius: 20px;
    /* padding: .7rem; */
    width: 100px;
    height: 50px;
    

}
.user-name{
   display: flex;
   /* border: 2px solid white; */
   color: var(--lighter);
   flex-direction: column;
   margin-top: 1.5rem; 
}
.bio-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin:0 2rem; */
    /* border: 2px solid white; */
}
.bio-wrapper p{
    width: 100%;
    font-size: 1rem;

}
span{
    color:blue;
}
.join-details{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
    height: 9rem;
    /* flex-wrap:wrap; */
    /* justify-content: center; */

}
.join-details1{
    width: 100%;
    /* border:2px solid yellow; */
    height: 4rem;
    display: flex;
    justify-content: flex start;

}
.join-details1 svg{
    width: .9rem;
    height:01rem;
    /* display: inline-block; */
}
.join-details1 p{
     display: inline; 
}
.join-details1-w{
    display: flex;
    justify-content:space-between;
   
    
}
.followers{
    display: flex;
}

.gray{
    color:gray;
    /* opacity: 0.7; */
}
.nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.nav .Tweets{
    border-bottom: 4px solid var(--blue);
}
a{
    text-decoration: none;
}
.tweet-section svg{
    width: 50px;
    height: 50px;
    border-radius:50%;
    border:2px solid whitesmoke;
   
}
.tweet-section{
    display: flex;
  
    flex-direction: column;
    font-size: .9rem;
}
.small-profile-pic{
    width: 75px;
    height: 75px;
    border-radius:50%;
}
.tweet-section h2 {
    font-size: .9rem;
}
.tweet{
    /* border:2px solid red; */
    border-bottom:2px solid var(--light-grey)
}
.small-profile{
    display: flex;
    align-items: center;
    /* border:2px solid red; */
}
@media screen and (max-width:320px) {
    .container{
         width: 100%;
         height: 120vh;
    }
    .contact-icons svg{
        width: 2.5rem;
        height: 2rem;
        /* margin-left: ; */

    }
    .following-wrapper{
        width:100% ;
       
    }
    .follow-btn{
        width: 70px;
        height: 40px;
        margin: 0;
        padding: 0;
    }
    
    
}